@import '../../../scss/variables';

.navbar {
    background-color: $primary-color !important;
    position: sticky;
    top: 0;
    height: 3rem;
}

.navbar * {
    color: $secondary-color;
}

.user {
    cursor: pointer;
}

.user:after {
    content: '';
    position: absolute;
    background-image: url('../../../assets/icons/user-2.png');
    background-size: cover;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.5rem;
    // right: 0;
}