<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
  <a class="navbar-brand" [routerLink]="['/']">ADMIN</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarNav"
    [ngbCollapse]="isCollapsed"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/menu']" routerLinkActive="active"
          >Menu</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/bill']" routerLinkActive="active"
          >Bill</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/enquiry']"
          routerLinkActive="active"
          >Enquiry</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/dashboard']"
          routerLinkActive="active"
          >Dashboard</a
        >
      </li>
      <li class="nav-item active">
        <a
          class="nav-link"
          [routerLink]="['/details']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Deatils</a
        >
      </li>
    </ul>
  </div>
</nav>
