@import '../../../scss/variables';

.navbar {
    background-color: $primary-color !important;
    position: sticky;
    top: 0;
    padding: 0.2rem 2rem;
    height: 3rem;
}

.nav-link {
    color: $secondary-color;
}

.nav-item {
    justify-content: flex-end;
}

.nav-item .active {
    color: $secondary-color;
    border-bottom: 1px solid $secondary-color;
    width: max-content;
}

// .user:after {
//     content: '';
//     position: absolute;
//     background-image: url('../../../assets/icons/user-2.png');
//     background-size: cover;
//     height: 2rem;
//     width: 2rem;
//     margin-left: 0.5rem;
//     // right: 0;
// }