@import '../../../scss/variables';

.navbar {
    background-color: $primary-color !important;
    position: sticky;
    top: 0;
    padding: 0.2rem 2rem;
    // height: 3rem;
}

.nav-link {
    color: $secondary-color;
}

.nav-item {
    justify-content: flex-end;
}

.nav-item .active {
    color: $secondary-color;
    border-bottom: 1px solid $secondary-color;
    width: max-content;
}

.dropdown-menu {
    width: max-content;
}

.user-details {
    border: 1px solid $secondary-color;
    border-radius: 0.5rem;
    margin-left: 2rem;
    width: max-content;
}

@media (max-width: 576px) {
    .user-details {
        border: none;
        margin-left: 0px;
    }
}