<div class="container">
  <form>
    <div class="row">
      <div class="col-sm-24 col-md-24 col-lg-12 col-xl-12 col-xxl-12">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            name="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            [(ngModel)]="user.email"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-24 col-md-24 col-lg-12 col-xl-12 col-xxl-12">
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="exampleInputPassword1"
            placeholder="Password"
            [(ngModel)]="user.password"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-sm-24 col-md-24 col-lg-12 col-xl-12 col-xxl-12 right-align"
      >
        <button type="submit" class="btn btn-outline-primary" (click)="login()">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
