@import './scss/main';

html {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

* {
    box-sizing: border-box;
}

.form-group {
    margin: 0.5rem 0;
}

.right-align {
    text-align: right;
}