@import './scss/main';
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

html {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

* {
    box-sizing: border-box;
}

.form-group {
    margin: 0.5rem 0;
}

.right-align {
    text-align: right;
}