@import './scss/main';
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

html {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}

* {
    box-sizing: border-box;
}

.form-group {
    margin: 0.5rem 0;
}

.right-align {
    text-align: right;
}

.pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        color: $primary-color;
        padding: 1rem 0;
        text-transform: uppercase;
        font-weight: 700;
    }

    button {
        height: 2.5rem;
    }
}

.text-container {
    max-width: max(20rem, 40vw);
    min-width: min(20rem, 40vw);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.swal2-popup {
    width: auto !important;
    padding: 1em !important;
    margin: 0.5em !important;
    font-size: 1rem !important;
}

.new-section {
    margin-top: 5rem;
}

.container {
    margin-bottom: 5rem;
}