<div class="container">
  <div class="row">
    <div class="col-sm-24 col-md-24 col-lg-24 col-xl-24 col-xxl-24">
      <div class="pageHeader">
        <h1 class="">MENUS</h1>
        <button
          type="button"
          class="btn btn-outline-primary"
          [routerLink]="['./add']"
        >
          Add Menu
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-24 col-md-24 col-lg-24 col-xl-24 col-xxl-24">
      <p-treeTable
        [value]="nodes"
        [scrollable]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        [styleClass]="'p-treetable-sm'"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Date</th>
            <th>Price</th>
            <th>Mobile</th>
            <th>Adress</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr
            [ttRow]="rowNode"
            [ngClass]="{ 'highlight-row': isMainRow(rowNode) }"
          >
            <td>
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{ rowData.id }}
            </td>
            <td>{{ rowData.name }}</td>
            <td>
              {{ rowData.date | date : "dd MMM yyyy" }}
              <span *ngIf="rowData.time"> ({{ rowData.time }}) </span>
            </td>
            <td>{{ rowData.price }}</td>
            <td>
              {{ rowData.mobile }}
              <span *ngIf="rowData.mobile2">
                {{ rowData.mobile2 }}
              </span>
            </td>
            <td>{{ rowData.address }}</td>
            <td>
              <p-menu
                #menu
                [popup]="true"
                [model]="actions"
                appendTo="body"
                [style]="{ 'white-space': 'nowrap', width: '10em' }"
              >
              </p-menu>
              <button
                type="button"
                class="btn btn-sm btn-outline-primary"
                (click)="
                  selectedItem = rowData; openMenu(rowData); menu.toggle($event)
                "
              >
                <i class="bi bi-three-dots-vertical"></i>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </div>
</div>

<div class="flex justify-content-center">
  <p-dialog
    header="Header"
    [(visible)]="showDeleteModal"
    [modal]="true"
    [style]="{ width: '25rem' }"
  >
    <ng-template pTemplate="header">
      <div class="inline-flex align-items-center justify-content-center gap-2">
        <span class="font-bold white-space-nowrap"> Delete Menu </span>
      </div>
    </ng-template>
    <p class="p-text-secondary">
      Are you sure, you want to Delete <b> {{ selectedItem.name }}'s </b> Menu
      ??
    </p>
    <ng-template pTemplate="footer">
      <button
        type="submit"
        class="btn btn-sm btn-outline-primary mr-2"
        (click)="onDeleteMenu()"
      >
        Yes
      </button>
      <button
        type="button"
        class="btn btn-sm btn-outline-primary"
        (click)="showDeleteModal = false"
      >
        No
      </button>
    </ng-template>
  </p-dialog>
</div>
