<div class="container">
  <div class="row">
    <div class="col-sm-24 col-md-24 col-lg-24 col-xl-24 col-xxl-24">
      <div class="pageHeader">
        <h1 class="">Enquiries</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-24 col-md-24 col-lg-24 col-xl-24 col-xxl-24">
      <p-table [value]="enquiries">
        <ng-template pTemplate="header">
          <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Message</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.mobile }}</td>
            <td>{{ product.email }}</td>
            <td>
              <div class="text-container">
                {{ product.message }}
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
